<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/navbar.html :: header( title = 'Directores')}"></head>
<body>
<nav th:replace="~{fragments/navbar.html :: navbar( active = 'Directores')}"></nav>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <form action="/guardarDirector" method="post" th:object="${director}">
      <input type="hidden" name="id" th:value="*{directorId}">
      <input type="hidden" name="tipo" th:value="${tipo}">
      <div class="row">
        <label for="nombre">Nombre: </label>
        <input th:classappend="${#fields.hasErrors('nombre')?'is-invalid':''}" th:field="*{nombre}" type="text">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
      </div>
      <div class="row">
        <label for="telefono">Telefono: </label>
        <input th:classappend="${#fields.hasErrors('telefono')?'is-invalid':''}" th:field="*{telefono}" type="tel">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>
      </div>
      <div class="row">
        <label for="nacionalidad">Nacionalidad: </label>
        <input th:classappend="${#fields.hasErrors('nacionalidad')?'is-invalid':''}" th:field="*{nacionalidad}" type="tel">
        <div class="invalid-feedback" th:if="${#fields.hasErrors('nacionalidad')}" th:errors="*{nacionalidad}"></div>
      </div>
      <div class="row">
        <div class="col-2">
          <button type="submit" class="btn btn-secondary" th:text="${tipo}"></button>
          <a class="btn btn-danger" href="/directores/list">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>